.sclogo {
    max-width: 100px;
    height: auto;
}
.cls{
    margin-right: 350px;
}
.brbr {
    display:none;
}
.brbrbr {
    display:none;
}
.sign-img {
    max-width: 100px;
    height: auto;
}

/* Adjustments for smaller screens */

@media (max-width: 1000px) {
    .cls{
        margin-right:200px;
    } 
}

@media (max-width: 768px) {
    .sclogo {
        max-width: 75px;
    }
    .cls{
        margin-right:5px;
    }

    .sign-img {
        max-width: 75px;
    }

    .watermark {
        max-width: 100%;
    }

    pre {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table-sm th,
    .table-sm td {
        padding: 0.3rem;
    }
}

@media (max-width: 400px) {
    .brbrbr{
        display: inline;
    } 
}

@media (max-width: 350px) {
    .brbr{
        display: inline;
    }
    .pdd{
        padding: 20px;
    }
}
